.navbar {
	background-color: white;
	z-index: 3;

	&.navbar-top {
		width: 100%;
		height: 50px;
		position: fixed;
		top: 0;
		transition: all 0.2s;
		background-color: white;

		&.navbar--hidden {
			top: -50px;
		}
	
		.navbar__content {
			display: flex;
			font-size: 20px;
			font-weight: 500;
			height: 100%;
			width: 100%;
			margin: auto 0;
			text-align: center;
			justify-content: center;
			align-items: center;
			background-color: white;
		}
	}

	&.navbar-bottom {
		width: 100%;
		height: 50px;
		position: fixed;
		bottom: 0;
		transition: all 0.2s;
		background-color: white;

		&.navbar--hidden {
			bottom: -50px;
		}

		.navbar__content {
			display: flex;
			font-size: 18px;
			font-weight: 500;
			height: 100%;
			width: 100%;
			margin: auto 0;
			text-align: center;
			justify-content: center;
			align-items: center;
			background-color: white;

			ul {
				width: 100%;
				display: flex;
				padding: 0;
				margin: 0;
				list-style: none;
				justify-content: space-around;
				align-items: center;
			}
		}
	}
}
